meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: true;
}

meta.window {
  background-color: #161421;
  border-color: #1d1a2a;
}

meta.titlebar {
  color: #f99fb5;
  border-color: rgba(39, 35, 54, 0.2470588235);
  background-color: linear-gradient(#272336, #1d1a2a);
}

meta.button {
  background: linear-gradient(#1d1a2a, #161421);
  border: linear-gradient(#353047, #272336);
  color: #e4e1f0;
}

meta.button.highlighted {
  background: linear-gradient(#272336, #1d1a2a);
  color: #e4e1f0;
}

meta.button.selected {
  color: #e4e1f0;
  background: #f2b56b;
  border: transparent;
}

meta.button.highlighted.selected {
  background: #f2b56b;
}

meta.button.disabled {
  background: transparent;
}

meta.textfield {
  background-color: #1d1a2a;
  border-color: #272336;
}

meta.textfield.highlighted {
  background-color: #272336;
  border-color: #353047;
}

meta.accent {
  color: #f2b56b;
}

meta.document {
  background-color: #1d1a2a;
  border-color: #353047;
}

meta.document.button {
  background: linear-gradient(#353047, #4b455f);
  border: linear-gradient(#161421, #1b1828);
}

meta.document.button.disabled {
  background: linear-gradient(rgba(53, 48, 71, 0.2980392157), rgba(75, 69, 95, 0.2980392157));
}

meta.document.button.highlighted {
  background: linear-gradient(#716e84, #4b455f);
}

meta.document.textfield {
  background-color: #1b1828;
  border-color: #272336;
}

meta.document.textfield.highlighted {
  background-color: #1b1828;
  border-color: #272336;
}

meta.text {
  color: #e4e1f0;
}

meta.text.invisible {
  color: rgba(228, 225, 240, 0.1490196078);
}

meta.text.selected {
  color: #f2b56b;
  background-color: #353047;
}

meta.cursor {
  background-color: #272336;
}

meta.indentguide {
  border-color: rgba(113, 110, 132, 0.2);
}

meta.gutter {
  color: #4b455f;
}

meta.gutter.selected {
  background-color: #1b1828;
  color: #b28fd5;
}

comment {
  color: #716e84;
}

processing {
  color: #9b97b1;
}

declaration {
  color: #9b97b1;
}

bracket {
  color: #9b97b1;
}

operator {
  color: #88c6c5;
}

invalid {
  background-color: #f962a0;
  color: #e4e1f0;
}

link {
  color: #f99fb5;
}

keyword {
  color: #4d94a8;
}

keyword.modifier {
  font-style: italic;
  color: #4d94a8;
}

keyword.condition {
  color: #4d94a8;
}

keyword.construct {
  color: #f99fb5;
}

keyword.statement {
  color: #f99fb5;
}

keyword.self {
  color: #4d94a8;
}

keyword.self.prefix {
  color: #4d94a8;
}

value.boolean {
  color: #f99fb5;
}

value.null {
  color: #f99fb5;
}

value.number {
  color: #f99fb5;
}

value.entity {
  color: #f99fb5;
}

value.symbol {
  color: #f962a0;
}

identifier.type {
  color: #e4e1f0;
}

identifier.constant,
identifier.global,
identifier.variable {
  color: #f99fb5;
}

identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: #f2b56b;
}

identifier.property {
  color: #88c6c5;
}

identifier.property.prefix {
  color: #88c6c5;
}

identifier.decorator,
identifier.function,
identifier.method {
  color: #f962a0;
}

identifier.key {
  color: #88c6c5;
}

identifier.argument {
  color: #88c6c5;
}

identifier.argument.prefix {
  color: #88c6c5;
}

punctuation.delimiter {
  color: #88c6c5;
}

string {
  color: #f2b56b;
}

string.delimiter {
  color: #f2b56b;
}

string.escape {
  color: #f2b56b;
}

string.key {
  color: #f2b56b;
}

string-keyword {
  color: #f2b56b;
}

string-template {
  color: #f2b56b;
}

regex {
  color: #4d94a8;
}

regex.escape {
  color: #88c6c5;
}

cdata {
  color: #4d94a8;
}

markup.heading {
  color: #f2b56b;
}

markup.line {
  color: #f962a0;
}

markup.bold {
  color: #88c6c5;
  font-weight: bold;
}

markup.italic {
  color: #f99fb5;
  font-style: italic;
}

markup.strikethrough {
  color: #9b97b1;
}

markup.list.item {
  color: #f2b56b;
}

markup.code {
  background-color: rgba(113, 110, 132, 0.2784313725);
}

markup.link {
  color: #f99fb5;
}

tag {
  color: #88c6c5;
}

tag.name {
  color: #88c6c5;
}

tag.framework {
  color: #f99fb5;
}

tag.framework.name {
  color: #f99fb5;
}

tag.attribute.name {
  color: #f99fb5;
}

tag.framework.attribute.name {
  color: #f99fb5;
}

tag.attribute.name {
  color: #f99fb5;
}

tag.attribute.value {
  color: #f2b56b;
}

tag.attribute.value.delimiter {
  color: #4d94a8;
}

tag.attribute.operator {
  color: #4d94a8;
}

tag.attribute.value.link {
  color: #f99fb5;
}

style.at {
  color: #4d94a8;
  font-weight: bold;
}

style.selector.element {
  font-weight: bold;
}

style.selector.identifier.id {
  color: #9b97b1;
}

style.selector.identifier.class {
  color: #f99fb5;
}

style.selector.pseudoclass {
  color: #f2b56b;
}

style.selector.pseudoelement {
  color: #9b97b1;
}

style.attribute.name {
  color: #88c6c5;
}

style.value.number {
  color: #f2b56b;
}

style.value.color.hex {
  color: #f2b56b;
}

style.value.keyword {
  color: #f2b56b;
}

style.value.color.named {
  color: #f99fb5;
}

style.value.identifier.function {
  color: #f962a0;
}

terminal.red {
  color: #f962a0;
}

terminal.green {
  color: #88c6c5;
}

terminal.yellow {
  color: #f2b56b;
}

terminal.blue {
  color: #88c6c5;
}

terminal.magenta {
  color: #b28fd5;
}

terminal.cyan {
  color: pine;
}

terminal.white {
  color: #e4e1f0;
}